{
  "extends": "esnext",
  "env": {
    "node": true
  },
  "rules": {
    "import/no-commonjs": "off",
    "import/no-nodejs-modules": "off",
    "prefer-rest-params": "off",
    "prefer-arrow-callback": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "debug" } ]
  }
}
