{
  "extends": "esnext",
  "rules": {
    "import/no-commonjs": "off",
    "import/no-nodejs-modules": "off",
    "object-shorthand": "off",
    "prefer-rest-params": "off",
    "prefer-arrow-callback": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-prototype-builtins": "off",
    "no-use-before-define": "off"
  }
}
